body{ 
    background-color: dimgray; 
    background-image: url(C:\Users\Alexandre\OneDrive\Documentos\Mangá_Dl\website\Static\Media\WallpaperDog-5558668.jpg);
    background-size: cover;
    background-attachment: fixed;   
    }

h2  {
    font-size: 45px;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

p   { 
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.75; 
    }